.activity-feed-settings-tree {
  .ant-tree-list-holder-inner {
    margin-left: -16px;
  }
  .ant-tree-switcher.ant-tree-switcher_open {
    visibility: hidden;
  }
  .ant-tree-node-content-wrapper {
    padding: 0;
  }
  .ant-divider.ant-divider-horizontal {
    margin: 16px 0;
  }
}

.settings-page-card-container {
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 12%);
  border: 1px #dde3ea solid;
}
