<div class="react-flow__renderer">
  <div class="react-flow__pane">
    <div class="react-flow__viewport react-flow__container">
      <div class="react-flow__nodes">
        <div class="react-flow__node react-flow__node-default nopan selectable">
          <div class="lineage-node custom-node-header-normal lineage-base-node">
            <div class="lineage-node-badge-container">
              <div class="lineage-node-badge"> </div>
            </div>
            <div class="
                react-flow__handle react-flow__handle-left
                lineage-node-handle
              "></div>
            <div class="
                react-flow__handle react-flow__handle-right
                lineage-node-handle
              "></div>
            <button class="
                lineage-node-minus lineage-node-handle
                react-flow__handle-right
              ">
              ></button>
            <button class="
                lineage-node-minus lineage-node-handle
                react-flow__handle-left
              ">
              ></button>
            <div class="lineage-node-content">
              <div class="label-container bg-white">
                <div class="custom-node-label-container">
                  <div class="entity-label-container"></div>
                  <div class="entity-footer"> </div>
                </div>
              </div>
            </div>
            <div class="manage-node"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Individual -->

<div class="react-flow__nodes">
  <div class="react-flow__node react-flow__node-default">
    <div class="lineage-node custom-node-header-normal lineage-base-node">
      <div class="lineage-node-badge-container">
        <div class="lineage-node-badge"></div>
      </div>
      <div class="lineage-node-content">
        <div class="label-container">
          <div class="custom-node-label-container">
            <div class="entity-label-container"></div>
            <div class="entity-footer"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Full node -->

<div class="react-flow__node react-flow__node-default">
  <div class="
      lineage-node
      custom-node-header-active custom-node-header-tracing
      lineage-base-node
    ">
    <div class="lineage-node-badge-container">
      <div class="lineage-node-badge"></div>
    </div>
    <div class="react-flow__handle react-flow__handle-left lineage-node-handle"></div>
    <div class="react-flow__handle react-flow__handle-right lineage-node-handle"></div><button
      class="lineage-node-minus lineage-node-handle react-flow__handle-right"><svg
        class="lineage-expand-icon"></svg></button><button
      class="lineage-node-minus lineage-node-handle react-flow__handle-left"><svg
        class="lineage-expand-icon"></svg></button>
    <div class="lineage-node-content">
      <div class="label-container">
        <div class="custom-node-label-container">
          <div class="entity-label-container">
            <div>
              <div class="entity-button-icon"><img /></div>
              <div>
                <div>
                  <div class="entity-header-name">
                    <div class="ant-space-item"><span class="node-service-type">BigQuery</span></div>
                    <div class="ant-space-item"><svg></svg></div>
                    <div><span class="node-entity-type">Table</span></div>
                  </div>
                </div>
                <div><span class="entity-header-display-name">dim_address</span></div>
              </div>
            </div>
          </div>
          <div class="entity-footer"><button class="columns-info-dropdown-label collapsed">12 Columns</button><svg
              class="mapping-icon"></svg></div>
        </div>
      </div>
    </div>
    <div class="manage-node"><button><svg></svg></button></div>
  </div>
</div>