# All files are owned by engineering and cloud-ops by default
*   @phc-health/product-engineering @phc-health/cloud-operations-engineering

# The following files should always be reviewed by a cloud-ops member
*.tf @phc-health/cloud-operations-engineering
/cloudbuild.yaml @phc-health/cloud-operations-engineering
/.github/ @phc-health/cloud-operations-engineering
Dockerfile @phc-health/cloud-operations-engineering
helm/ @phc-health/cloud-operations-engineering
