*
!ingestion-core
!ingestion
!bootstrap
!bin
!dist
!openmetadata-dist
!docs
!common
!catalog-rest-service
!openmetadata-ui
!conf
!pom.xml
!README.md
**/node_modules/*
**/target/*
**/__pycache__/*
**/.pytest_cache/*
**/*.egg
**/.mypy_cache/
.dockerignore
