#  Copyright 2021 Collate
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#  http://www.apache.org/licenses/LICENSE-2.0
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

# Created by .ignore support plugin (hsz.mobi)
# Maven
__pycache__
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
**/generated


catalog-services/catalog-services.iml

# local docker volume
docker/development/docker-volume
docker-volume
docker/docker-compose-quickstart/docker-volume
# Java template
*.class
venv
env
.java-version
# logs
logs
*.log
*.egg-info
.eggs
*.db
# Eclipse
.settings/
.project
.classpath

# Intellij
*.iml
*.ipr
*.iws
.idea/
# Package Files
*.jar
*.war
*.ear

# mac dir files
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules
build
dist

# Registry Kerberos SASL secrets directory

# ts build info and report
openmetadata-ui/src/main/resources/ui/webpack
openmetadata-ui/src/main/resources/ui/tsconfig.tsbuildinfo

#tests
.coverage*
!ingestion/.coveragerc
/ingestion/coverage.xml
/ingestion/ci-coverage.xml
/ingestion/junit/*
/ingestion/tests/e2e/artifacts/*
openmetadata-ui/src/main/resources/ui/src/test/unit/coverage
openmetadata-ui/src/main/resources/ui/test-report.xml

# Playwright artifacts
openmetadata-ui/src/main/resources/ui/playwright/output/
openmetadata-ui/src/main/resources/ui/playwright/e2e/.cache/
openmetadata-ui/src/main/resources/ui/.env
openmetadata-ui/src/main/resources/ui/playwright/.auth

#UI - Dereferenced Schemas
openmetadata-ui/src/main/resources/ui/src/jsons/connectionSchemas
openmetadata-ui/src/main/resources/ui/src/jsons/ingestionSchemas

#UI - Generated TS
openmetadata-ui/src/main/resources/ui/src/generated

#vscode
*/.vscode/*
.vscode/*

# Python generated sources
ingestion-core/src/metadata/generated/**
ingestion/src/metadata/generated/**
ingestion/requirements.txt
ingestion/.python-version
ingestion/venv2/**
.python-version

# MLFlow
mlruns/
/ingestion/tests/integration/source/mlflow/tests/db/

# Antlr
/openmetadata-ui/src/main/resources/ui/src/antlr/generated/Fqn.interp
/openmetadata-ui/src/main/resources/ui/src/antlr/generated/Fqn.tokens
/openmetadata-ui/src/main/resources/ui/src/antlr/generated/FqnLexer.interp
/openmetadata-ui/src/main/resources/ui/src/antlr/generated/FqnLexer.tokens
.antlr

# SQLAlchemy tests
file:cachedb

# Snyk report
security-report
.dccache
scan-requirements.txt

# CLI e2e tests
ingestion/tests/cli_e2e/**/*test.yaml

# GX artifacts
/ingestion/tests/integration/great_expectations/gx/*
openmetadata-webserver-cli/ui/src/jsons/profilerSettings.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/connectionBasicType.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/serviceConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/testConnectionDefinition.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/testConnectionResult.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/apiService/restConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/common/sslCertPaths.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/common/sslCertValues.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/common/sslConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/customDashboardConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/domoDashboardConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/lightdashConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/lookerConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/metabaseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/modeConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/mstrConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/powerBIConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/qlikCloudConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/qlikSenseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/quickSightConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/redashConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/sigmaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/supersetConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/tableauConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/powerbi/azureConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/powerbi/bucketDetails.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/powerbi/gcsConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/dashboard/powerbi/s3Config.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/athenaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/azureSQLConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/bigQueryConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/bigTableConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/clickhouseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/couchbaseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/customDatabaseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/databricksConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/datalakeConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/db2Connection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/deltaLakeConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/domoDatabaseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/dorisConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/druidConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/dynamoDBConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/glueConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/greenplumConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/hiveConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/icebergConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/impalaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/mariaDBConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/mongoDBConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/mssqlConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/mysqlConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/oracleConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/pinotDBConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/postgresConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/prestoConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/redshiftConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/salesforceConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sapErpConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sapHanaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sasConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/singleStoreConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/snowflakeConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sqliteConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/synapseConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/teradataConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/trinoConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/unityCatalogConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/verticaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/common/azureConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/common/basicAuth.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/common/iamAuthConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/common/jwtAuth.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/datalake/azureConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/datalake/gcsConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/datalake/s3Config.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/deltalake/metastoreConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/deltalake/storageConfig.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/dynamoDbCatalogConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/glueCatalogConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/hiveCatalogConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/icebergCatalog.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/icebergFileSystem.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/iceberg/restCatalogConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sapHana/sapHanaHDBConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/database/sapHana/sapHanaSQLConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/customMessagingConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/kafkaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/kinesisConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/pulsarConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/redpandaConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/messaging/saslMechanismType.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/alationConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/alationSinkConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/amundsenConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/atlasConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/metadataESConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/metadata/openMetadataConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/mlmodel/customMlModelConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/mlmodel/mlflowConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/mlmodel/sageMakerConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/mlmodel/sklearnConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/mlmodel/vertexaiConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/airbyteConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/airflowConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/backendConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/customPipelineConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/dagsterConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/databricksPipelineConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/dbtCloudConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/domoPipelineConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/fivetranConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/flinkConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/gluePipelineConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/kafkaConnectConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/matillionConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/nifiConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/openLineageConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/sparkConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/pipeline/splineConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/search/customSearchConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/search/elasticSearchConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/search/openSearchConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/search/elasticSearch/apiAuth.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/search/elasticSearch/basicAuth.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/storage/adlsConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/storage/customStorageConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/storage/gcsConnection.json
openmetadata-webserver-cli/ui/src/jsons/connectionSchemas/connections/storage/s3Connection.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/apiServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/application.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/applicationPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dashboardServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/databaseServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/databaseServiceProfilerPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/databaseServiceQueryLineagePipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/databaseServiceQueryUsagePipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dataInsightPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/messagingServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/metadataToElasticSearchPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/mlmodelServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/pipelineServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/searchServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storageServiceMetadataPipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/testSuitePipeline.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/workflow.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtAzureConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtBucketDetails.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtCloudConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtGCSConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtHttpConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtLocalConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/dbtconfig/dbtS3Config.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/containerMetadataConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/manifestMetadataConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageBucketDetails.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageMetadataADLSConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageMetadataGCSConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageMetadataHttpConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageMetadataLocalConfig.json
openmetadata-webserver-cli/ui/src/jsons/ingestionSchemas/storage/storageMetadataS3Config.json
