[BASIC]
# W1203: logging-fstring-interpolation - f-string brings better readability and unifies style
# W1202: logging-format-interpolation - lazy formatting in logging functions
# R0903: too-few-public-methods - False negatives in pydantic classes
# W0707: raise-missing-from - Tends to be a false positive as exception are closely encapsulated
# R0901: too-many-ancestors - We are already inheriting from SQA classes with a bunch of ancestors
# W0703: broad-except - We are dealing with many different source systems, but we want to make sure workflows run until the end
# W0511: fixme - These are internal notes and guides
# R0913: Too many arguments
# R1705: Unnecessary "else" after "return"
# C0415: Import outside toplevel
# R1723: Unnecessary "elif" after "break"
disable=W1203,W1202,R0903,W0707,R0901,W1201,W0703,W0511,R0913,R1705,C0415,R1723

docstring-min-length=20
max-args=7
max-attributes=12

# usual typevar naming
good-names=T,C,fn,s,fp,tx,t,vt,kt,m,c,e,r

[MASTER]
fail-under=6.0
init-hook='from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))'
extension-pkg-allow-list=pydantic

[MESSAGES CONTROL]
disable=no-name-in-module

[FORMAT]
# We all have big monitors now
max-line-length=120
