click~=7.1.2
pydantic~=1.7.4
expandvars~=0.6.5
requests~=2.25.1
python-dateutil~=2.8.1
SQLAlchemy~=1.4.5
Faker~=8.1.1
spacy~=3.0.5
commonregex~=1.5.4
setuptools~=57.0.0
PyHive~=0.6.4
ldap3~=2.9.1
fastavro>=1.2.0
google~=3.0.0
PyMySQL~=1.0.2
great-expectations>=0.13.31
elasticsearch~=7.13.4
neo4j~=4.4.0