pip~=21.3
PyYAML~=6.0
MarkupSafe~=2.0.1
urllib3~=1.26.7
six~=1.16.0
python-dateutil~=2.8.2
greenlet~=1.1.2
psycopg2~=2.9.1
setuptools~=58.2.0
SQLAlchemy~=1.4.26
click~=8.0.3
Jinja2~=3.0.2
expandvars~=0.7.0
pydantic~=1.8.2