/*
  * Licensed to the Apache Software Foundation (ASF) under one or more
  * contributor license agreements. See the NOTICE file distributed with
  * this work for additional information regarding copyright ownership.
  * The ASF licenses this file to You under the Apache License, Version 2.0
  * (the "License"); you may not use this file except in compliance with
  * the License. You may obtain a copy of the License at

  * http://www.apache.org/licenses/LICENSE-2.0

  * Unless required by applicable law or agreed to in writing, software
  * distributed under the License is distributed on an "AS IS" BASIS,
  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  * See the License for the specific language governing permissions and
  * limitations under the License.
*/

.stepper-list {
  display: flex;
  padding: 24px;
  flex: 0 0 100%;
}

.stepper-list.stepper-horizontal {
  align-items: center;
  flex-direction: row;
}

.step {
  flex: 1;
  position: relative;
}

.stepper-list.stepper-horizontal .step {
  padding-left: 8px;
  padding-right: 8px;
}

.step-pending .step-icon {
  opacity: 0.5;
}

.step-done .step-icon,
.step-doing .step-icon {
  opacity: 1;
}

.step-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: blueviolet;
  color: #fff;
  text-align: center;
}

.step-label {
  margin: 10px 0;
}

.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-connector {
  top: 12px;
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  position: absolute;
  flex: 1 1 auto;
}

.step-connector-line {
  display: block;
  border-color: #bdbdbd;
}

.line-horizontal {
  border-top-style: solid;
  border-top-width: 1px;
}
