.page-layout-v1-vertical-scroll {
  // 64 header + ( 16 + 16 )spacing Y
  height: calc(100vh - 96px);
  overflow-y: auto;
}

.page-layout-v1-left-panel {
  border: 1px rgb(221, 227, 234) solid;
  border-radius: '4px';
  box-shadow: 1px 1px 8px rgb(0 0 0 / 6%);
}
