@import (reference) url('../../../../../styles/variables.less');

.no-profiler-banner-container {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: @grey-50;
  padding: 16px;

  .profiler-description {
    color: @grey-700;
    font-size: 12px;
    font-weight: 400;
  }

  .profiler-title {
    color: @grey-900;
    font-size: 14px;
    font-weight: 600;
  }
}
