.form-field.cron-field select {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
.cron-field-row {
  margin: 0 0 10px 0;
}
.cron-string {
  margin-top: 15px;
  background: #1890ff40;
  color: #1890ff;
  padding: 7px 10px;
  border-left: 3px solid #1890ff;
}
.cron-badge-option-container {
  display: inline-block;
  margin: 10px 0 10px 0;
}
.cron-badge-option {
  height: 30px;
  width: 30px;
  background: #f5f5f5;
  margin: 2px 5px;
  padding: 5px;
  display: inline-table;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.cron-badge-option.disabled {
  cursor: not-allowed;
  color: #6b7280;
}
.cron-badge-option:hover {
  background: #d6d6d6;
}
.cron-badge-option.disabled:hover {
  background: #f5f5f5;
}
.cron-badge-option.active {
  background: #7147e8;
  color: white;
}
.month-opt-container .cron-badge-option {
  width: 35px;
  height: 32px;
  border-radius: 18px;
  font-size: 12px;
  padding: 8px 5px;
}
