<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <if condition='isDefined("LOG_FORMAT") && p("LOG_FORMAT").equalsIgnoreCase("json")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="ch.qos.logback.contrib.json.classic.JsonLayout">
                    <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                        <prettyPrint>false</prettyPrint>
                    </jsonFormatter>
                    <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>./logs/openmetadata-operation.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache" level="ERROR" />
    <logger name="httpclient" level="ERROR" />
    <logger name="es.org.elasticsearch.client" level="ERROR" />
    <logger name="os.org.elasticsearch.client" level="ERROR" />
    <logger name="org.openmetadata.service.Entity" level="ERROR" />
    <!-- Add specific logger for SearchIndexApp and ReindexingJobLogger -->
    <logger name="org.openmetadata.service.apps.bundles.searchIndex" level="INFO" />
    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="file"/>
    </root>
</configuration>