.ant-form-item-explain-error {
  text-align: left;
}
.ant-divider-horizontal {
  .ant-divider-with-text {
    &::before {
      width: 20%;
    }
    &::after {
      width: 20%;
    }
  }
}
.login-form {
  margin-top: 5rem;
}
