@import (reference) '../../../styles/variables.less';

.knowledge-page-title-input {
  width: 100%;
  resize: none;
  appearance: none;
  overflow: hidden;
  background-color: transparent;
  font-weight: 700;
  outline: transparent solid 2px;
  outline-offset: 2px;
  line-height: 1.375;
  border: none;
  font-size: 32px;
  &::placeholder {
    color: #f3f3f3;
  }
}
