.timeline-drawer {
  height: 100%;
  background: white;
  position: fixed;
  display: none;
  top: 64px;
  right: 0;
  width: 330px;
  overflow-y: auto;
  padding: 16px;
  border-left: 1px solid #d9ceee;
  transition: display 0.3s ease-out;
}
.timeline-drawer.open {
  display: block;
}

.timeline-content {
  display: flex;
}
.timeline-wrapper {
  padding-right: 1rem;
}
.timeline-rounder {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border: 3px solid #d9ceee;
  background: transparent;
  border-radius: 50%;
  margin-top: 0.15rem;
}
.timeline-rounder.major,
.timeline-rounder.major.selected {
  border-color: #f9816c;
}
.timeline-rounder.selected {
  border: 3px solid #7147e8;
}

.timeline-rounder.selected::after {
  content: '';
  display: block;
  margin: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #7147e8;
  background-color: #7147e8;
}
.timeline-rounder.major.selected::after {
  border-color: #f9816c;
  background-color: #f9816c;
}

.timeline-line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: #d9ceee;
  transform: translate(8px, 0);
}
.timeline-line.major {
  height: 98%;
}
.timeline-line-se {
  display: block;
  width: 2px;
  height: 15px;
  background-color: #d9ceee;
  transform: translate(8px, 0);
}
