apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: cronomjobs.pipelines.openmetadata.org
spec:
  group: pipelines.openmetadata.org
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                schedule:
                  type: string
                timeZone:
                  type: string
                suspend:
                  type: boolean
                startingDeadlineSeconds:
                  type: integer
                successfulJobsHistoryLimit:
                  type: integer
                failedJobsHistoryLimit:
                  type: integer
                omJobSpec:
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
            status:
              type: object
              properties:
                lastScheduleTime:
                  type: string
                  format: date-time
                lastSuccessfulTime:
                  type: string
                  format: date-time
                lastOMJobName:
                  type: string
                message:
                  type: string
      additionalPrinterColumns:
        - name: Last Schedule
          type: date
          jsonPath: .status.lastScheduleTime
        - name: Last OMJob
          type: string
          jsonPath: .status.lastOMJobName
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
  scope: Namespaced
  names:
    plural: cronomjobs
    singular: cronomjob
    kind: CronOMJob
    shortNames:
      - comj
